﻿
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


<div class="row">
    <div class="col-6">
        <form action="/User/login" enctype="multipart/form-data" method="post">
            <span>@Html.ValidationMessage("Login")</span>
            <div class="form-group">
                <label>Usuario</label>
            </div>
            <div class="form-group">
                <input type="text" name="UserName" placeholder="Usuario" />
            </div>

            <div class="form-group">
                <label>Contraseña</label>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña" />
            </div>
            <button class="btn btn-primary">Login</button>
            <br />
            <a href="/User/Registrar">Registrar nuevo usuario</a>
        </form>
    </div>
</div>