﻿@{ var transaccion = (Transaccion)Model; }
<h1>Crear transaccion a la cuenta </h1>
<div class="row">
    <div class="col-6">
        <form action="/transaccion/crear" method="post">
            @if (TempData["Error"] != null)
            {
        <div id="Incorrecto" class="alert alert-danger">
            @TempData["Error"]
        </div>}
            <input type="hidden" name="IdCuenta" value="@ViewBag.CuentaId" />
            <div class="form-group">
                <label>Tipo</label>
                <select name="Tipo" class="form-control">
                    <option value="">-- Selecciona una opcion --</option>
                    @foreach (var item in ViewBag.Tipos)
                    {
        <option value="@item">@item</option>
}
                </select>
                @Html.ValidationMessage("IdTipo")
            </div>
            <div class="form-group">
                <label>Fecha y hora</label>
                <input type="datetime-local" class="form-control" name="Fecha" />
            </div>
            <div class="form-group">
                <label>Descripcion</label>
                <textarea class="form-control" name="Descripcion"></textarea>
                @Html.ValidationMessage("Descripcion")
            </div>
            <div class="form-group">
                <label>Monto</label>
                <input type="number" class="form-control" name="Monto" />
                @Html.ValidationMessage("Descripcion")
            </div>
            <button class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>