﻿
@{
    ViewData["Title"] = "Transferir";
    var cuenta = (List<Cuenta>)Model;
}

<h1>Realizar Transferencia</h1>

<div class="row">
    <div class="col-6">
        <form action="/Transaccion/transferir" method="post">
            @if (TempData["Error"] != null)
            {
                <div id="Incorrecto" class="alert alert-danger">
                    @TempData["Error"]
                </div>
            }
            <div class="form-group">
                <label>Transferir de cuenta origen</label>
                <select name="CuentaID1" class="form-control">
                    <option value="">-- Selecciona una opcion --</option>
                    @foreach (var item in cuenta)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Transferir a cuenta destino</label>
                <select name="CuentaID2" class="form-control">
                    <option value="">-- Selecciona una opcion --</option>
                    @foreach (var item in cuenta)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Saldo a transferir</label>
                <input class="form-control" name="amount" />
                @Html.ValidationMessage("Amount")
            </div>

            <button class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>