﻿@{
    List<Cuenta> cuentitas = ((List<Cuenta>)Model);
}

<h1>Lista de cuentas</h1>
<a href="/Cuenta/Registrar" class="float-right btn btn-primary">Crear Cuenta</a>
<a href="/Transaccion/Transferir" class="btn btn-primary">Transferencia</a>
<h5>Monto total: @ViewBag.Total S./</h5>

<div class="row">
    <div class="col">
        <table id="tabla" class="table">
            <thead class="text-center">
                <tr>
                    <th>Categoria</th>
                    <th>Nombre</th>
                    <th>Saldo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in cuentitas)
                {
                    <tr>
                        <td>@item.Categoria.Nombre</td>
                        <td>@item.Nombre</td>
                        <td class="text-center">
                            @if (item.IdCategoria == 2)
                            {
                                <strong>Limite @item.Limite</strong>
                            }
                            <strong>Saldo</strong> @item.Saldo S/.
                        </td>
                        <td>
                            <a href="/transaccion/index?id=@item.Id">Transaccion</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>